<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535503651068-3ef4k61dhno8f73fcnuj6r6j4u5s053l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535503651068-3ef4k61dhno8f73fcnuj6r6j4u5s053l</string>
	<key>API_KEY</key>
	<string>AIzaSyAti0ttcYrpeSMV0qnEHHQngDibD3JBkF8</string>
	<key>GCM_SENDER_ID</key>
	<string>535503651068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bruh.login-page</string>
	<key>PROJECT_ID</key>
	<string>poop-9cc40</string>
	<key>STORAGE_BUCKET</key>
	<string>poop-9cc40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535503651068:ios:735edc22b2a498afb99779</string>
</dict>
</plist>